################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/NP.Persistence/NP.Persistence/bin/Debug
/NP.Persistence/NP.Persistence/obj/Debug
/NP.Persistence/.vs/NP.Persistence/v15
/NP.Web/.vs
/NP.Web/NP.Web/bin
/NP.Web/NP.Web/node_modules
/NP.Web/NP.Web/obj/Debug
/NP.Web/packages
/NP.Web/NP.Persistence.Test/obj/Debug
/NP.Web/NP.Persistence.Test/bin/Debug
